body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:47px;
  top:34px;
  width:992px;
  height:772px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:772px;
}
#u1 {
  position:absolute;
  left:2px;
  top:378px;
  width:988px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:128px;
  top:313px;
  width:128px;
  height:21px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:21px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3 {
  position:absolute;
  left:259px;
  top:312px;
  width:54px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:923px;
  top:394px;
  width:92px;
  height:19px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  font-family:'Arial';
  font-size:12px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:923px;
  top:425px;
  width:92px;
  height:19px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  font-family:'Arial';
  font-size:12px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:923px;
  top:456px;
  width:92px;
  height:19px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  font-family:'Arial';
  font-size:12px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8 {
  position:absolute;
  left:923px;
  top:487px;
  width:92px;
  height:19px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  font-family:'Arial';
  font-size:12px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:923px;
  top:518px;
  width:92px;
  height:19px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  font-family:'Arial';
  font-size:12px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10 {
  position:absolute;
  left:923px;
  top:549px;
  width:92px;
  height:19px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  font-family:'Arial';
  font-size:12px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:923px;
  top:581px;
  width:92px;
  height:19px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  font-family:'Arial';
  font-size:12px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:923px;
  top:611px;
  width:92px;
  height:19px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  font-family:'Arial';
  font-size:12px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u13 {
  position:absolute;
  left:923px;
  top:642px;
  width:92px;
  height:19px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  font-family:'Arial';
  font-size:12px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:923px;
  top:674px;
  width:92px;
  height:19px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  font-family:'Arial';
  font-size:12px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:948px;
  top:190px;
  width:200px;
  height:160px;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:160px;
}
#u16 {
  position:absolute;
  left:2px;
  top:28px;
  width:196px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:380px;
  top:350px;
  width:250px;
  height:150px;
  overflow:hidden;
  visibility:hidden;
}
#u17_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u18 {
  position:absolute;
  left:3px;
  top:3px;
  width:242px;
  height:145px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:145px;
}
#u19 {
  position:absolute;
  left:2px;
  top:64px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:57px;
  top:105px;
  width:73px;
  height:23px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u21 {
  position:absolute;
  left:142px;
  top:105px;
  width:74px;
  height:23px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u22 {
  position:absolute;
  left:247px;
  top:349px;
  width:603px;
  height:410px;
  overflow:hidden;
  visibility:hidden;
}
#u22_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:410px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u23 {
  position:absolute;
  left:1px;
  top:2px;
  width:599px;
  height:399px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:399px;
}
#u24 {
  position:absolute;
  left:2px;
  top:192px;
  width:595px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:151px;
  top:137px;
  width:120px;
  height:20px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26 {
  position:absolute;
  left:151px;
  top:168px;
  width:100px;
  height:20px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u27 {
  position:absolute;
  left:151px;
  top:198px;
  width:62px;
  height:21px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u28 {
  position:absolute;
  left:31px;
  top:225px;
  width:93px;
  height:23px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:578px;
  top:7px;
  width:20px;
  height:19px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:380px;
  top:350px;
  width:360px;
  height:187px;
  overflow:hidden;
  visibility:hidden;
}
#u32_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:187px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:353px;
  height:183px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:183px;
}
#u34 {
  position:absolute;
  left:2px;
  top:84px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:156px;
  top:136px;
  width:86px;
  height:28px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u36 {
  position:absolute;
  left:252px;
  top:136px;
  width:86px;
  height:28px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u37 {
  position:absolute;
  left:360px;
  top:350px;
  width:390px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u38 {
  position:absolute;
  left:9px;
  top:5px;
  width:371px;
  height:187px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:187px;
}
#u39 {
  position:absolute;
  left:2px;
  top:86px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:274px;
  top:141px;
  width:86px;
  height:28px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u41 {
  position:absolute;
  left:236px;
  top:72px;
  width:25px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:866px;
  top:394px;
  width:49px;
  height:23px;
  overflow:hidden;
  visibility:hidden;
}
#u43_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:919px;
  top:391px;
  width:97px;
  height:25px;
  overflow:hidden;
  visibility:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:3px;
  top:4px;
  width:92px;
  height:19px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  font-family:'Arial';
  font-size:12px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u50 {
  position:absolute;
  left:380px;
  top:350px;
  width:280px;
  height:150px;
  overflow:hidden;
  visibility:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u51 {
  position:absolute;
  left:6px;
  top:0px;
  width:264px;
  height:144px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:144px;
}
#u52 {
  position:absolute;
  left:2px;
  top:64px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:84px;
  top:103px;
  width:73px;
  height:23px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u54 {
  position:absolute;
  left:169px;
  top:103px;
  width:73px;
  height:23px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u55 {
  position:absolute;
  left:360px;
  top:350px;
  width:400px;
  height:210px;
  overflow:hidden;
  visibility:hidden;
}
#u55_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:210px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:184px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:184px;
}
#u57 {
  position:absolute;
  left:2px;
  top:84px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:266px;
  top:135px;
  width:86px;
  height:28px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u59 {
  position:absolute;
  left:215px;
  top:67px;
  width:25px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u60 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:240px;
  top:66px;
  width:13px;
  height:14px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:292px;
  top:173px;
  width:57px;
  height:21px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:370px;
  top:176px;
  width:64px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u66 {
  position:absolute;
  left:2px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:454px;
  top:175px;
  width:83px;
  height:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
}
#u68 {
  position:absolute;
  left:2px;
  top:1px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:559px;
  top:173px;
  width:58px;
  height:21px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:641px;
  top:174px;
  width:70px;
  height:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
}
#u72 {
  position:absolute;
  left:2px;
  top:1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
