body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:47px;
  top:37px;
  width:1000px;
  height:621px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:621px;
}
#u1 {
  position:absolute;
  left:2px;
  top:302px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:647px;
  width:994px;
  height:333px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:994px;
  height:333px;
}
#u3 {
  position:absolute;
  left:2px;
  top:158px;
  width:990px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:65px;
  top:340px;
  width:960px;
  height:640px;
  overflow:hidden;
  visibility:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:429px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:429px;
}
#u6 {
  position:absolute;
  left:2px;
  top:206px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:746px;
  top:10px;
  width:83px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_ann {
  position:absolute;
  left:822px;
  top:6px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:270px;
  top:90px;
  width:420px;
  height:260px;
  overflow:hidden;
  visibility:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:260px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:266px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:266px;
}
#u11 {
  position:absolute;
  left:2px;
  top:125px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:841px;
  top:12px;
  width:80px;
  height:29px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_ann {
  position:absolute;
  left:914px;
  top:8px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:270px;
  top:90px;
  width:420px;
  height:260px;
  overflow:hidden;
  visibility:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:260px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:263px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:263px;
}
#u16 {
  position:absolute;
  left:2px;
  top:124px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:147px;
  top:297px;
  width:187px;
  height:20px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:20px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18 {
  position:absolute;
  left:622px;
  top:284px;
  width:88px;
  height:41px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:41px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:662px;
  top:292px;
  width:58px;
  height:27px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_ann {
  position:absolute;
  left:713px;
  top:288px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:50px;
  top:967px;
  width:994px;
  height:32px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:994px;
  height:32px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:990px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:57px;
  top:890px;
  width:980px;
  height:81px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:81px;
}
#u25 {
  position:absolute;
  left:2px;
  top:32px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:65px;
  top:340px;
  width:960px;
  height:640px;
  overflow:hidden;
  visibility:hidden;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u27 {
  position:absolute;
  left:-13px;
  top:0px;
  width:973px;
  height:292px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:292px;
}
#u28 {
  position:absolute;
  left:2px;
  top:138px;
  width:969px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:743px;
  top:13px;
  width:83px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_ann {
  position:absolute;
  left:819px;
  top:9px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:838px;
  top:15px;
  width:80px;
  height:29px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_ann {
  position:absolute;
  left:911px;
  top:11px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:274px;
  top:90px;
  width:416px;
  height:260px;
  overflow:hidden;
  visibility:hidden;
}
#u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:260px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:266px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:266px;
}
#u35 {
  position:absolute;
  left:2px;
  top:125px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:274px;
  top:92px;
  width:416px;
  height:258px;
  overflow:hidden;
  visibility:hidden;
}
#u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:258px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:263px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:263px;
}
#u38 {
  position:absolute;
  left:2px;
  top:124px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:65px;
  top:340px;
  width:960px;
  height:640px;
  overflow:hidden;
  visibility:hidden;
}
#u39_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u41 {
  position:absolute;
  left:2px;
  top:312px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:744px;
  top:15px;
  width:83px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_ann {
  position:absolute;
  left:820px;
  top:11px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:839px;
  top:17px;
  width:80px;
  height:29px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
}
#u45 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_ann {
  position:absolute;
  left:912px;
  top:13px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:280px;
  top:90px;
  width:410px;
  height:260px;
  overflow:hidden;
  visibility:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:260px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:266px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:266px;
}
#u48 {
  position:absolute;
  left:2px;
  top:125px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:280px;
  top:90px;
  width:410px;
  height:260px;
  overflow:hidden;
  visibility:hidden;
}
#u49_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:260px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:263px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:263px;
}
#u51 {
  position:absolute;
  left:2px;
  top:124px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:65px;
  top:340px;
  width:960px;
  height:640px;
  overflow:hidden;
  visibility:hidden;
}
#u52_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:292px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:292px;
}
#u54 {
  position:absolute;
  left:2px;
  top:138px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:748px;
  top:18px;
  width:83px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_ann {
  position:absolute;
  left:824px;
  top:14px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:843px;
  top:20px;
  width:80px;
  height:29px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_ann {
  position:absolute;
  left:916px;
  top:16px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:258px;
  top:114px;
  width:412px;
  height:266px;
  overflow:hidden;
  visibility:hidden;
}
#u59_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:266px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:266px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:266px;
}
#u61 {
  position:absolute;
  left:2px;
  top:125px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:258px;
  top:114px;
  width:412px;
  height:266px;
  overflow:hidden;
  visibility:hidden;
}
#u62_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:266px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u63 {
  position:absolute;
  left:0px;
  top:1px;
  width:415px;
  height:263px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:263px;
}
#u64 {
  position:absolute;
  left:2px;
  top:124px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:406px;
  top:318px;
  width:200px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u65_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u66 {
  position:absolute;
  left:7px;
  top:0px;
  width:186px;
  height:200px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:200px;
}
#u67 {
  position:absolute;
  left:2px;
  top:92px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:402px;
  top:294px;
  width:100px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u69 {
  position:absolute;
  left:475px;
  top:298px;
  width:27px;
  height:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u70 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:521px;
  top:294px;
  width:103px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u72 {
  position:absolute;
  left:596px;
  top:299px;
  width:27px;
  height:18px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u73 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:521px;
  top:319px;
  width:200px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u74_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u75 {
  position:absolute;
  left:7px;
  top:0px;
  width:186px;
  height:200px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:200px;
}
#u76 {
  position:absolute;
  left:2px;
  top:92px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:396px;
  top:172px;
  width:62px;
  height:23px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:23px;
}
#u78 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
