<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>APP地址</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link th:href="@{/resources/css/jquery-ui-themes.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/resources/css/axure_rp_page.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/data/styles.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/files/app地址/styles.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{/resources/scripts/jquery-1.7.1.min.js}"></script>
    <script th:src="@{/resources/scripts/jquery-ui-1.8.10.custom.min.js}"></script>
    <script th:src="@{/resources/scripts/prototype/axQuery.js}"></script>
    <script th:src="@{/resources/scripts/prototype/globals.js}"></script>
    <script th:src="@{/resources/scripts/axutils.js}"></script>
    <script th:src="@{/resources/scripts/prototype/annotation.js}"></script>
    <script th:src="@{/resources/scripts/prototype/axQuery.std.js}"></script>
    <script th:src="@{/resources/scripts/prototype/doc.js}"></script>
    <script th:src="@{/data/document.js}"></script>
    <script th:src="@{/resources/scripts/messagecenter.js}"></script>
    <script th:src="@{/resources/scripts/prototype/events.js}"></script>
    <script th:src="@{/resources/scripts/prototype/action.js}"></script>
    <script th:src="@{/resources/scripts/prototype/expr.js}"></script>
    <script th:src="@{/resources/scripts/prototype/geometry.js}"></script>
    <script th:src="@{/resources/scripts/prototype/flyout.js}"></script>
    <script th:src="@{/resources/scripts/prototype/ie.js}"></script>
    <script th:src="@{/resources/scripts/prototype/model.js}"></script>
    <script th:src="@{/resources/scripts/prototype/repeater.js}"></script>
    <script th:src="@{/resources/scripts/prototype/sto.js}"></script>
    <script th:src="@{/resources/scripts/prototype/utils.temp.js}"></script>
    <script th:src="@{/resources/scripts/prototype/variables.js}"></script>
    <script th:src="@{/resources/scripts/prototype/drag.js}"></script>
    <script th:src="@{/resources/scripts/prototype/move.js}"></script>
    <script th:src="@{/resources/scripts/prototype/visibility.js}"></script>
    <script th:src="@{/resources/scripts/prototype/style.js}"></script>
    <script th:src="@{/resources/scripts/prototype/adaptive.js}"></script>
    <script th:src="@{/resources/scripts/prototype/tree.js}"></script>
    <script th:src="@{/resources/scripts/prototype/init.temp.js}"></script>
    <script th:src="@{/files/app地址/data.js}"></script>
    <script th:src="@{/resources/scripts/prototype/legacy.js}"></script>
    <script th:src="@{/resources/scripts/prototype/viewer.js}"></script>
  </head>
  <body>

    <!-- Unnamed (图片) -->
    <div id="u0" class="ax_图片">
      <img id="u0_img" class="img " th:src="@{/images/appAddress/u0.png}"/>
      <!-- Unnamed () -->
      <div id="u1" class="text"></div>
    </div>

    <!-- Unnamed (文本框(单行)) -->
    <div id="u2" class="ax_文本框_单行_">
      <input id="u2_input" type="text" value="http://url"/>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u3" class="ax_图片">
      <img id="u3_img" class="img " src="@{/images/服务年限/u7.png}"/>
      <!-- Unnamed () -->
      <div id="u4" class="text"></div>
    </div>

    <!-- 修改成功 (动态面板) -->
    <div id="u5" class="ax_动态面板" data-label="修改成功">
      <div id="u5_state0" class="panel_state" data-label="State1">

        <!-- Unnamed (图片) -->
        <div id="u6" class="ax_图片">
          <img id="u6_img" class="img " src="@{/images/服务年限/u4.png}"/>
          <!-- Unnamed () -->
          <div id="u7" class="text"></div>
        </div>

        <!-- Unnamed (HTML Button) -->
        <div id="u8" class="ax_html_button">
          <input id="u8_input" type="submit" value="OK"/>
        </div>
      </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u9" class="ax_图片">
      <img id="u9_img" class="img " src="@{/images/财务类型/u31.png}"/>
      <!-- Unnamed () -->
      <div id="u10" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u11" class="ax_图片">
      <img id="u11_img" class="img " src="@{/images/财务类型/u33.png}"/>
      <!-- Unnamed () -->
      <div id="u12" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u13" class="ax_图片">
      <img id="u13_img" class="img " src="@{/images/财务类型/u35.png}"/>
      <!-- Unnamed () -->
      <div id="u14" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u15" class="ax_图片">
      <img id="u15_img" class="img " src="@{/images/财务类型/u37.png}"/>
      <!-- Unnamed () -->
      <div id="u16" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u17" class="ax_图片">
      <img id="u17_img" class="img " src="@{/images/财务类型/u39.png}"/>
      <!-- Unnamed () -->
      <div id="u18" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u19" class="ax_图片">
      <img id="u19_img" class="img " src="@{/images/财务类型/u41.png}"/>
      <!-- Unnamed () -->
      <div id="u20" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u21" class="ax_图片">
      <img id="u21_img" class="img " src="@{/images/财务类型/u43.png}"/>
      <!-- Unnamed () -->
      <div id="u22" class="text"></div>
    </div>
  </body>
</html>
