<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html>
  <head>
    <title>服务年限</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script th:src="@{/resource/scripts/jquery-1.4.2.js}"></script>
    <script th:src="@{/resource/scripts/jquery-1.7.2=1.min.js}"></script>
    <script th:src="@{/resource/scripts/js/length_Of_Service.js}"></script>
    <style>
      /*#div{display: flex;text-align: center;}*/
      #div{
        text-align: center;
      }
      #div div{margin: 10px 0 ;}
    </style>
  </head>
  <body>
      <div id="div">
          <div><h4>服务年限管理-填写最大的服务年限</h4></div>
        <div>配置名称:<input name="fuwu" type="text" readonly value=""/></div>
        <div>配置数值:<input name="num" type="text" value=""/></div>
        <div><input type="button" value="保存"></div>
      </div>
  </body>
</html>
