<!DOCTYPE html>
<html>
  <head>
    <title>登陆页面</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/登陆页面/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototype/axQuery.js"></script>
    <script src="resources/scripts/prototype/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/prototype/annotation.js"></script>
    <script src="resources/scripts/prototype/axQuery.std.js"></script>
    <script src="resources/scripts/prototype/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/prototype/events.js"></script>
    <script src="resources/scripts/prototype/action.js"></script>
    <script src="resources/scripts/prototype/expr.js"></script>
    <script src="resources/scripts/prototype/geometry.js"></script>
    <script src="resources/scripts/prototype/flyout.js"></script>
    <script src="resources/scripts/prototype/ie.js"></script>
    <script src="resources/scripts/prototype/model.js"></script>
    <script src="resources/scripts/prototype/repeater.js"></script>
    <script src="resources/scripts/prototype/sto.js"></script>
    <script src="resources/scripts/prototype/utils.temp.js"></script>
    <script src="resources/scripts/prototype/variables.js"></script>
    <script src="resources/scripts/prototype/drag.js"></script>
    <script src="resources/scripts/prototype/move.js"></script>
    <script src="resources/scripts/prototype/visibility.js"></script>
    <script src="resources/scripts/prototype/style.js"></script>
    <script src="resources/scripts/prototype/adaptive.js"></script>
    <script src="resources/scripts/prototype/tree.js"></script>
    <script src="resources/scripts/prototype/init.temp.js"></script>
    <script src="files/登陆页面/data.js"></script>
    <script src="resources/scripts/prototype/legacy.js"></script>
    <script src="resources/scripts/prototype/viewer.js"></script>
      <style>
          form{
              position:absolute;
              left:460px;
              top: 266px;
              width:150px;
              height:233px;
              display: flex;
              flex-direction:column;

          }
          form>*{margin: 5px;margin-right:0;}

          input[type=submit]{
              width: 100px;
              margin: 1px 5px 5px -5px;
          }
      </style>
  </head>
  <body>

    <!-- Unnamed (图片) -->
    <div id="u0" class="ax_图片">
      <img id="u0_img" class="img " src="images/background.png"/>
      <!-- Unnamed () -->
      <div id="u1" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u2" class="ax_图片">
      <img id="u2_img" class="img " src="images/u2.png"/>
      <!-- Unnamed () -->
      <div id="u3" class="text"></div>
    </div>
    <form action="agentManage.html">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" id="su" value="登录">
    </form>
    <!-- Unnamed (图片) -->
       <!-- <div id="u4" class="ax_图片">
          <img id="u4_img" class="img " src="images/登陆页面/u4.png"/>
          &lt;!&ndash; Unnamed () &ndash;&gt;
          <div id="u5" class="text"></div>
-->
  </body>
</html>
