<!DOCTYPE html>
<html>
  <head>
    <title>修改客户信息</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/修改客户信息/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototype/axQuery.js"></script>
    <script src="resources/scripts/prototype/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/prototype/annotation.js"></script>
    <script src="resources/scripts/prototype/axQuery.std.js"></script>
    <script src="resources/scripts/prototype/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/prototype/events.js"></script>
    <script src="resources/scripts/prototype/action.js"></script>
    <script src="resources/scripts/prototype/expr.js"></script>
    <script src="resources/scripts/prototype/geometry.js"></script>
    <script src="resources/scripts/prototype/flyout.js"></script>
    <script src="resources/scripts/prototype/ie.js"></script>
    <script src="resources/scripts/prototype/model.js"></script>
    <script src="resources/scripts/prototype/repeater.js"></script>
    <script src="resources/scripts/prototype/sto.js"></script>
    <script src="resources/scripts/prototype/utils.temp.js"></script>
    <script src="resources/scripts/prototype/variables.js"></script>
    <script src="resources/scripts/prototype/drag.js"></script>
    <script src="resources/scripts/prototype/move.js"></script>
    <script src="resources/scripts/prototype/visibility.js"></script>
    <script src="resources/scripts/prototype/style.js"></script>
    <script src="resources/scripts/prototype/adaptive.js"></script>
    <script src="resources/scripts/prototype/tree.js"></script>
    <script src="resources/scripts/prototype/init.temp.js"></script>
    <script src="files/修改客户信息/data.js"></script>
    <script src="resources/scripts/prototype/legacy.js"></script>
    <script src="resources/scripts/prototype/viewer.js"></script>
  </head>
  <body>

    <!-- Unnamed (图片) -->
    <div id="u0" class="ax_图片">
      <img id="u0_img" class="img " src="images/修改客户信息/u0.png"/>
      <!-- Unnamed () -->
      <div id="u1" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u2" class="ax_图片">
      <img id="u2_img" class="img " src="images/修改客户信息/u2.png"/>
      <!-- Unnamed () -->
      <div id="u3" class="text"></div>
    </div>

    <!-- Unnamed (下拉列表框) -->
    <div id="u4" class="ax_下拉列表框">
      <select id="u4_input">
        <option selected value="企业">企业</option>
        <option value="政府">政府</option>
        <option value="个人">个人</option>
      </select>
    </div>

    <!-- Unnamed (下拉列表框) -->
    <div id="u5" class="ax_下拉列表框">
      <select id="u5_input">
        <option selected value="启用">启用</option>
        <option value="停用">停用</option>
      </select>
    </div>

    <!-- Unnamed (下拉列表框) -->
    <div id="u6" class="ax_下拉列表框">
      <select id="u6_input">
        <option selected value="营业执照">营业执照</option>
        <option value="国内身份证">国内身份证</option>
        <option value="境外身份证">境外身份证</option>
        <option value="其他证件">其他证件</option>
      </select>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u7" class="ax_图片">
      <img id="u7_img" class="img " src="images/修改客户信息/u7.png"/>
      <!-- Unnamed () -->
      <div id="u8" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u9" class="ax_文本">
      <img id="u9_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u10" class="text">
        <p><span>添加一个联系人</span></p>
      </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u11" class="ax_图片">
      <img id="u11_img" class="img " src="images/修改客户信息/u11.png"/>
      <!-- Unnamed () -->
      <div id="u12" class="text"></div>
    </div>

    <!-- Unnamed (中继器) -->
    <div id="u13" class="ax_中继器">
      <script id="u13_script" type="axure-repeater-template">

        <!-- Unnamed (形状) -->
        <div id="u14" class="ax_形状 u14">
          <img id="u14_img" class="img u14_img" src="images/修改客户信息/u14.png"/>
          <!-- Unnamed () -->
          <div id="u15" class="u15 text"></div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u16" class="ax_形状 u16">
          <img id="u16_img" class="img u16_img" src="images/修改客户信息/u16.png"/>
          <!-- Unnamed () -->
          <div id="u17" class="u17 text"></div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u18" class="ax_形状 u18">
          <img id="u18_img" class="img u18_img" src="images/修改客户信息/u18.png"/>
          <!-- Unnamed () -->
          <div id="u19" class="u19 text"></div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u20" class="ax_形状 u20">
          <img id="u20_img" class="img u20_img" src="images/修改客户信息/u14.png"/>
          <!-- Unnamed () -->
          <div id="u21" class="u21 text"></div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u22" class="ax_形状 u22">
          <img id="u22_img" class="img u22_img" src="images/修改客户信息/u22.png"/>
          <!-- Unnamed () -->
          <div id="u23" class="u23 text"></div>
        </div>

        <!-- Unnamed (文本框(单行)) -->
        <div id="u24" class="ax_文本框_单行_ u24">
          <input id="u24_input" type="text" value="" class="u24_input"/>
        </div>

        <!-- Unnamed (文本框(单行)) -->
        <div id="u25" class="ax_文本框_单行_ u25">
          <input id="u25_input" type="text" value="" class="u25_input"/>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u26" class="ax_形状 u26">
          <img id="u26_img" class="img u26_img" src="images/修改客户信息/u26.png"/>
          <!-- Unnamed () -->
          <div id="u27" class="u27 text"></div>
        </div>

        <!-- Unnamed (文本框(单行)) -->
        <div id="u28" class="ax_文本框_单行_ u28">
          <input id="u28_input" type="text" value="" class="u28_input"/>
        </div>

        <!-- Unnamed (文本框(单行)) -->
        <div id="u29" class="ax_文本框_单行_ u29">
          <input id="u29_input" type="text" value="" class="u29_input"/>
        </div>

        <!-- Unnamed (文本框(单行)) -->
        <div id="u30" class="ax_文本框_单行_ u30">
          <input id="u30_input" type="text" value="" class="u30_input"/>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u31" class="ax_文本 u31">
          <img id="u31_img" class="img u31_img" src="resources/images/transparent.gif"/>
          <!-- Unnamed () -->
          <div id="u32" class="u32 text">
            <p><span>删除</span></p>
          </div>
        </div>
      </script>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u33" class="ax_图片">
      <img id="u33_img" class="img " src="images/修改客户信息/u33.png"/>
      <!-- Unnamed () -->
      <div id="u34" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u35" class="ax_图片">
      <img id="u35_img" class="img " src="images/修改客户信息/u35.png"/>
      <!-- Unnamed () -->
      <div id="u36" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u37" class="ax_图片">
      <img id="u37_img" class="img " src="images/修改客户信息/u37.png"/>
      <!-- Unnamed () -->
      <div id="u38" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u39" class="ax_图片">
      <img id="u39_img" class="img " src="images/修改客户信息/u37.png"/>
      <!-- Unnamed () -->
      <div id="u40" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u41" class="ax_图片">
      <img id="u41_img" class="img " src="images/修改客户信息/u41.png"/>
      <!-- Unnamed () -->
      <div id="u42" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u43" class="ax_图片">
      <img id="u43_img" class="img " src="images/修改客户信息/u43.png"/>
      <!-- Unnamed () -->
      <div id="u44" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u45" class="ax_图片">
      <img id="u45_img" class="img " src="images/修改客户信息/u45.png"/>
      <!-- Unnamed () -->
      <div id="u46" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u47" class="ax_图片">
      <img id="u47_img" class="img " src="images/修改客户信息/u47.png"/>
      <!-- Unnamed () -->
      <div id="u48" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u49" class="ax_图片">
      <img id="u49_img" class="img " src="images/新增客户/u55.png"/>
      <!-- Unnamed () -->
      <div id="u50" class="text"></div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u51" class="ax_图片">
      <img id="u51_img" class="img " src="images/新增客户/u59.png"/>
      <!-- Unnamed () -->
      <div id="u52" class="text"></div>
    </div>

    <!-- Unnamed (图片) [footnote] -->
    <div id="u51_ann" class="annotation"></div>
  </body>
</html>
