body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:48px;
  top:34px;
  width:992px;
  height:623px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:623px;
}
#u1 {
  position:absolute;
  left:2px;
  top:304px;
  width:988px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:443px;
  top:296px;
  width:58px;
  height:24px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:310px;
  top:297px;
  width:130px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:128px;
  top:298px;
  width:130px;
  height:22px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:930px;
  top:377px;
  width:75px;
  height:23px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:935px;
  top:381px;
  width:36px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:969px;
  top:381px;
  width:30px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:283px;
  top:176px;
  width:60px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
