body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:50px;
  top:30px;
  width:998px;
  height:179px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:179px;
}
#u1 {
  position:absolute;
  left:2px;
  top:82px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:209px;
  width:998px;
  height:763px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:763px;
}
#u3 {
  position:absolute;
  left:2px;
  top:374px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:495px;
  top:341px;
  width:95px;
  height:22px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:470px;
  top:377px;
  width:50px;
  height:22px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:146px;
  top:530px;
  width:94px;
  height:22px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:486px;
  top:518px;
  width:200px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u8 {
  position:absolute;
  left:7px;
  top:0px;
  width:186px;
  height:200px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:200px;
}
#u9 {
  position:absolute;
  left:2px;
  top:92px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:492px;
  top:495px;
  width:110px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u11 {
  position:absolute;
  left:574px;
  top:497px;
  width:27px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u12 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:70px;
  top:792px;
  width:110px;
  height:17px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
}
#u14 {
  position:absolute;
  left:2px;
  top:0px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:69px;
  top:795px;
  width:91px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  color:#0000FF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:50px;
  top:1065px;
  width:998px;
  height:83px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:83px;
}
#u18 {
  position:absolute;
  left:2px;
  top:34px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:488px;
  top:908px;
  width:142px;
  height:23px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:28px;
  top:957px;
  width:1052px;
  height:23px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1052px;
  height:23px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:1048px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:50px;
  top:951px;
  width:13px;
  height:114px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:114px;
}
#u24 {
  position:absolute;
  left:2px;
  top:49px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1029px;
  top:952px;
  width:19px;
  height:188px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:188px;
}
#u26 {
  position:absolute;
  left:2px;
  top:86px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:60px;
  top:875px;
  width:967px;
  height:45px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:45px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:963px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:61px;
  top:864px;
  width:19px;
  height:216px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:216px;
}
#u30 {
  position:absolute;
  left:2px;
  top:100px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1017px;
  top:841px;
  width:17px;
  height:239px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:239px;
}
#u32 {
  position:absolute;
  left:2px;
  top:112px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:62px;
  top:1065px;
  width:970px;
  height:19px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:19px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:87px;
  top:878px;
  width:916px;
  height:30px;
}
.u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
.u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
.u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
.u38 {
  position:absolute;
  left:4px;
  top:2px;
  width:143px;
  height:25px;
}
.u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
.u39 {
  position:absolute;
  left:152px;
  top:0px;
  width:154px;
  height:30px;
}
.u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
.u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
.u41 {
  position:absolute;
  left:155px;
  top:2px;
  width:146px;
  height:25px;
}
.u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
.u42 {
  position:absolute;
  left:306px;
  top:0px;
  width:154px;
  height:30px;
}
.u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
.u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
.u44 {
  position:absolute;
  left:460px;
  top:0px;
  width:151px;
  height:30px;
}
.u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
.u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
.u46 {
  position:absolute;
  left:463px;
  top:2px;
  width:145px;
  height:25px;
}
.u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
.u47 {
  position:absolute;
  left:311px;
  top:2px;
  width:143px;
  height:25px;
}
.u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
.u48 {
  position:absolute;
  left:611px;
  top:0px;
  width:154px;
  height:30px;
}
.u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
}
.u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
.u50 {
  position:absolute;
  left:765px;
  top:0px;
  width:151px;
  height:30px;
}
.u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
.u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
.u52 {
  position:absolute;
  left:616px;
  top:2px;
  width:145px;
  height:25px;
}
.u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
.u53 {
  position:absolute;
  left:810px;
  top:7px;
  width:60px;
  height:16px;
  color:#0000FF;
}
.u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
.u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:474px;
  top:1084px;
  width:156px;
  height:26px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:26px;
}
#u56 {
  position:absolute;
  left:2px;
  top:5px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:550px;
  top:1098px;
  width:56px;
  height:22px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
}
#u58 {
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:474px;
  top:1098px;
  width:57px;
  height:22px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u60 {
  position:absolute;
  left:2px;
  top:3px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_ann {
  position:absolute;
  left:524px;
  top:1094px;
  width:1px;
  height:1px;
}
