body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:50px;
  top:30px;
  width:995px;
  height:736px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:995px;
  height:736px;
}
#u1 {
  position:absolute;
  left:2px;
  top:360px;
  width:991px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:146px;
  top:290px;
  width:242px;
  height:22px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:22px;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3 {
  position:absolute;
  left:460px;
  top:309px;
  width:200px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u4 {
  position:absolute;
  left:7px;
  top:0px;
  width:186px;
  height:200px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:200px;
}
#u5 {
  position:absolute;
  left:2px;
  top:92px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:456px;
  top:285px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:529px;
  top:289px;
  width:27px;
  height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u8 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:575px;
  top:286px;
  width:103px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u10 {
  position:absolute;
  left:650px;
  top:291px;
  width:27px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u11 {
  position:absolute;
  left:2px;
  top:1px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:678px;
  top:280px;
  width:70px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:720px;
  top:286px;
  width:58px;
  height:24px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:575px;
  top:311px;
  width:200px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u17 {
  position:absolute;
  left:7px;
  top:0px;
  width:186px;
  height:200px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:200px;
}
#u18 {
  position:absolute;
  left:2px;
  top:92px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:161px;
  top:166px;
  width:74px;
  height:19px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:256px;
  top:168px;
  width:98px;
  height:17px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:376px;
  top:166px;
  width:78px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:480px;
  top:168px;
  width:96px;
  height:19px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:595px;
  top:167px;
  width:64px;
  height:19px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:175px;
  top:133px;
  width:74px;
  height:19px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
